<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form #registerForm="ngForm" (ngSubmit)="register(registerForm.valid, registerForm.value)" novalidate>
    <ion-item class="nopadding">
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" #fn="ngModel" [(ngModel)]="first_name" name="first_name"></ion-input>
    </ion-item>
    <ion-item class="nopadding">
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" #ln="ngModel" [(ngModel)]="last_name" name="last_name"></ion-input>
    </ion-item>
    <ion-item class="nopadding">
      <ion-label floating>Email</ion-label>
      <ion-input type="email" #e="ngModel" [(ngModel)]="email" name="email" email required></ion-input>
    </ion-item>
    <small class="text-danger" *ngIf="e.invalid && registerForm._submitted">Email is required.</small>
    <br />
    <small class="text-danger" *ngIf="e.errors?.email && registerForm._submitted">Email should be like john@doe.com.</small>
    <ion-item class="nopadding">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" #pw="ngModel" [(ngModel)]="password" name="password" [minlength]="6" required></ion-input>
    </ion-item>
    <small class="text-danger" *ngIf="pw.invalid && registerForm._submitted">Password is required and should be 6 charactor long.</small>
    <br />
    <div class="buttons">
      <button ion-button clear type="button" (click)="login()">Do you have account?</button>
      <button ion-button secondary type="submit">Register</button>
    </div>
  </form>

</ion-content>
